In [3]:
import pandas as pd

data = { 'title': ['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', 'Schindler\'s List', 'Forrest Gump']
, 'duration': [142, 175, 152, 195, 142]
, 'rating': ['9.3', '9.2', '9.0', '8.9', '8.8'] }

movies = pd.DataFrame(data)

In [4]:
from pandasql import sqldf
query = """ SELECT title, duration FROM movies WHERE duration > 150 """

result = sqldf(query, locals())
print(result)

ObjectNotExecutableError: Not an executable object: ' SELECT title, duration FROM movies WHERE duration > 150 '