In [4]:
import sqlite3

# Conectar ao banco de dados (ou criar um novo se não existir)
conn = sqlite3.connect("meu_banco.db")

# Criar um cursor para executar comandos SQL
cursor = conn.cursor()

# Criar uma tabela chamada "usuarios"
cursor.execute("""
CREATE TABLE IF NOT EXISTS usuarios (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    idade INTEGER,
    email TEXT UNIQUE NOT NULL
)
""")

# Inserir dados na tabela
cursor.execute("INSERT INTO usuarios (nome, idade, email) VALUES (?, ?, ?)", 
               ("Alice", 25, "alice@email.com"))
cursor.execute("INSERT INTO usuarios (nome, idade, email) VALUES (?, ?, ?)", 
               ("Bob", 30, "bob@email.com"))

# Confirmar as alterações
conn.commit()

# Consultar os dados inseridos
cursor.execute("SELECT * FROM usuarios")
usuarios = cursor.fetchall()

# Exibir os dados
for usuario in usuarios:
    print(usuario)

# Fechar a conexão
conn.close()

IntegrityError: UNIQUE constraint failed: usuarios.email

In [5]:
conn = sqlite3.connect("meu_banco.db")

# Criar um cursor para executar comandos SQL
cursor = conn.cursor()

cursor.execute("SELECT * FROM usuarios")

In [7]:
usuarios = cursor.fetchall()

In [8]:
usuarios

[(1, 'Alice', 25, 'alice@email.com'), (2, 'Bob', 30, 'bob@email.com')]